<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/" data-cy="nav-logo" class="logo">Wypożyczalnia Leżaków</a>
      
      <button class="menu-toggle" (click)="toggleMenu()">
        <span class="menu-icon"></span>
      </button>
      
      <ul class="nav-menu" [class.active]="isMenuOpen">
        <li class="nav-item">
          <a routerLink="/" data-cy="nav-home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Strona Główna</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" data-cy="nav-contact" routerLinkActive="active" class="nav-link">Kontakt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservation" data-cy="nav-reservation" routerLinkActive="active" class="nav-link">Rezerwacja</a>
        </li>
      </ul>
    </div>
  </nav>
  